.verification-component {
    max-width: 100%;
    height: 100vh;
    margin: 0px auto;
    background: linear-gradient(80.07deg, #e2f0ef 7.45%, #eef0ef 107.27%);
}
.verification-box {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 50%;
    height: 70vh;
    width: 450px;
    padding-top: 40px;
    margin-top: 70px;
    top: 100px;
    margin: 0 auto; 
    background: white;
    border-radius: 30px;
}
.thumbsup {
    width: 163.49px;
    height: 156px;
    left: 94px;
    margin-top: 40px;
}
.verification-text {
   margin-top: 50px;
   font-family: Poppins;
   font-size: 24px;
   font-weight: 600;
   line-height: 40px;
   text-align: center;
   color: #5c5858;
}
.green-button {
    border: none;
    margin-top: 200px;
    width: 380px;
    height: 50px;
    top: 709px;
    left: 21.04px;
    padding: 12px 24px 12px 24px;
    gap: 4px;
    border-radius: 10px;
    background: linear-gradient(80.07deg, #006763 7.45%, #3FBDA8 107.27%);   
}
.green-button span {  
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}